.navContainer {
  .navIcon {
    display: none;
  }
  .mainLogo {
    max-width: 10em;
  }
  .navLinks {
    display: inline-block !important;
    position: initial;
    flex: auto;
    width: initial;
    height: initial;
    z-index: initial;
    background-color: #ffffff;
    ul {
      margin: 0;
      li {
        display: inline-block;
        margin: 0;
        a {
          background-color: #fff;
          padding: 0.1em 0.3em;
          margin: 0 0.3em;
          text-decoration: none;
          color: #5280ff;
          width: initial;
          &:hover {
            background-color: #5280ffec;
            border-radius: 3px;
            color: white;
          }
        }
      }
    }
  }
}
