@import "./_450/450";

@media (min-width: 600px) {
  @import "./_600/_nav";
  @import "./_600/dashboard";
  @import "./_600/homeContainer";
  body {
    .mainContainer {
      padding-top: 12vw;
    }
  }
  .newRoomContainer {
    margin: 1em auto;
  }
  .loginContainer,
  .signupContainer {
    margin: 3em auto;
  }
}

@media (min-width: 800px) {
}
