# https://EditorConfig.org

# top-most EditorConfig file
root = true

# For all Fiels
[*]
# tab or space
indent_style = tab
# indent_size = 4
tab_width = 2
# lf, cr, crlf
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.pug]
tab_width = 2

[*.sass]
tab_width = 2
