body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(247, 247, 247);
}

.main-header {
    background-color: #ffffff;
    box-shadow: 0 0 2px #6481ff;
    padding: 0 1em;
    position: fixed;
    width: 100%;
    z-index: 5;
    ul {
        height: 3em;
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li:nth-child(1) {
            flex: auto;
            img{
                max-width: 7em;
                display: inline-block;
            }
        }
        li {
            align-self: center;
            img.userAvtar {
                display: inline-block;
                width: 100%;
                max-width: 2.1em;
                border-radius: 50%;
            }
        }
    }
}

.main-container {
    padding: 3.5em 1em 1em 1em;
}

.homeContainer {
    padding: 1em;
    div {
        p {
            a {
                margin-left: 2em;
                font-size: 1.2em;
            }
        }
    }
}

.detailContainer {
    padding: 1.5em;
    .imageContainer {
        margin-left: 5em;
        img {
            width: 100%;
            max-width: 4em;
        }
    }
    .detail {
        padding: 1em 2em;
        ul {
            list-style: none;
            margin: 0;
            padding: .6em;
            background-color: #fff;
            li {
                display: flex;
                color: rgb(71, 71, 71);
                text-align: center;
                span {
                    background-color: rgb(226, 226, 226);
                    flex: 50%;
                    margin-bottom: 2px;
                    padding: .2em 0;
                    font-size: 1em;
                }
            }
        }
    }
}

.allRoomContainer {
    .roomContainer {
        display: flex;
        flex-wrap: wrap;
        .room {
            flex: 17em;
            background-color: rgb(255, 196, 196);
            padding: .7em;
            margin: .5em;
            h3,
            p,
            ul {
                margin: .2em;
            }
        }
    }
}

.newRoomContainer {
    h2 {
        text-align: center;
    }
    .newRoomForm {
        form {
            padding: 2em;
            >div {
                .featureContainer {
                    margin-left: 2em;
                }
            }
            .submitBtn {
                input {
                    margin-top: 1em;
                    font-size: 1.05em;
                }
            }
        }
    }
}