doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/styles/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/main.css")
        meta(name="theme-color" content="#e4e4e4")
        link(rel="icon" sizes="192x192" href="/icons/room-icon.png")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block scripts
    body
        header
            div
                if user
                    a() Node App - #{user.username}
                else 
                    a() Node App
            div
                ul
                    if !user
                        li
                            a(href="/user/login") Login
                        li
                            a(href="/user/signup") Signup
                    else 
                        li
                            a(href="/user/logout") Logout
        .main-container
            block content