doctype html
html
    head
        title #{title}
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet", href="/styles/main.css")
        meta(name="theme-color" content="#e4e4e4")
        link(rel="icon" sizes="192x192" href="/icons/icon.png")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block scripts
    body
        header.main-header
            ul
                li
                    img(src="/images/logo.png", alt="logo")
                if user
                    li
                        img.userAvtar.mr-2(src="/user/"+user.userid+"/photo" alt="Photo")
                    li
                        a.btn.btn-primary.btn-sm(href="/user/logout") Logout
                else
                    if title !== 'Login'
                        li
                            a.btn.btn-primary.btn-sm.mr-2(href="/user/login") Login
                    if title !== "Sign Up"
                        li
                            a.btn.btn-primary.btn-sm(href="/user/signup") Signup
        .main-container
            include ./_nav.pug
            include ./_messages.pug
            block content
        
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")