div.navContainer
    nav.p-2
        ul.row.list-unstyled
            li.mr-2
                a.btn.btn-primary.btn-sm(href="/") Home
            li.mr-2
                a.btn.btn-primary.btn-sm(href="/user/dashboard") Dashboard
            li.mr-2
                a.btn.btn-primary.btn-sm(href="/room/new") Add New Room
            li.mr-2
                a.btn.btn-primary.btn-sm(href="/room/all") Show All Rooms
            if user && user.userid === 'admin'
                li.mr-2
                    a.btn.btn-primary.btn-sm(href="/user/all") All Users