extends ./parts/_layout.pug

block content
    h1 Add new User
    include ./parts/_messages.pug
    form(action='/user/add' method='post')
        div
            label Username:
            input(type='text' name='username' value=username?username:'')
        div
            label Occupation:
            input(type='text' name='occupation' value=occupation?occupation:'')
        div
            label Password:
            input(type='password' name='password' value=password?password:'')
        div
            input(type='submit' value='Submit')
