doctype html
html
    head
        title= title
    body
        h2 Hello World
        - if (success)
            .message.success
                span= success
        - if (error)
            .message.error
                span= error