.dashboard {
  .detailContainer {
    h4 {
      margin: 0.5em 0;
      font-size: 1.8em;
    }
    .imageContainer {
      margin-left: 5em;
      img {
        max-width: 6em;
      }
    }
    .detail {
      padding: 2em;
      ul {
        li {
          span {
            font-size: 1.1em;
          }
        }
      }
    }
    .editLink {
      a {
        font-size: 1.2em;
        padding: 0.2em 0.4em;
      }
    }
  }
}
