$height: calc(28vw);
$primary-color: #5280ff;
$secondary-color: #474747;
.homeContainer,
.allRoomContainer {
  .row {
    margin: 0;
    a {
      text-decoration: none;
      >div {
        height: $height;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.384);
        &:hover {
          transition: 0.1s ease-in;
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }
        h4 {
          font-size: 3.5vw;
          margin-bottom: 4px;
          color: $primary-color;
        }
        .facilities {
          color: $secondary-color;
          font-weight: bold;
          font-size: 3.4vw;
          ul {
            li {
              font-weight: 500;
              font-size: 3vw;
              margin-right: 1vw;
            }
          }
        }
        .infoContainer {
          color: red;
          font-size: 3.3vw;
        }
        img {
          margin: 0.5vw;
          width: 100%;
          height: 27vw;
          object-fit: cover;
        }
      }
    }
  }
}