body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f7f7f7;
}

.main-header {
  background-color: #ffffff;
  box-shadow: 0 0 2px #6481ff;
  padding: 0 1em;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.main-header ul {
  height: 3em;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-header ul li:nth-child(1) {
  flex: auto;
}
.main-header ul li:nth-child(1) img {
  max-width: 7em;
  display: inline-block;
}
.main-header ul li {
  align-self: center;
}
.main-header ul li img.userAvtar {
  border: 2px solid #444444;
  display: inline-block;
  width: 100%;
  max-width: 2.1em;
  border-radius: 50%;
}

.main-container {
  padding: 7em 1em 1em 1em;
}

.navContainer {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  padding: 3.4em 0 1em 1em;
  z-index: 4;
}

.homeContainer {
  padding: 1em;
}
.homeContainer div p a {
  margin-left: 2em;
  font-size: 1.2em;
}

.detailContainer {
  padding: 1.5em;
}
.detailContainer .imageContainer {
  margin-left: 5em;
}
.detailContainer .imageContainer img {
  width: 100%;
  max-width: 4em;
}
.detailContainer .detail {
  padding: 1em 2em;
}
.detailContainer .detail ul {
  list-style: none;
  margin: 0;
  padding: 0.6em;
  background-color: #fff;
}
.detailContainer .detail ul li {
  display: flex;
  color: #474747;
  text-align: center;
}
.detailContainer .detail ul li span {
  background-color: #e2e2e2;
  flex: 50%;
  margin-bottom: 2px;
  padding: 0.2em 0;
  font-size: 1em;
}

.allRoomContainer a,
.homeContainer a {
  text-decoration: none;
}
.allRoomContainer a > div:hover,
.homeContainer a > div:hover {
  box-shadow: 0 0 10px #858585;
}
.allRoomContainer a > div .features li,
.homeContainer a > div .features li {
  font-size: 0.8em;
}
.allRoomContainer a > div img,
.homeContainer a > div img {
  max-width: 10em;
  width: 100%;
}
