body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #95b2ff;
  display: flex;
}
header div:nth-child(1) {
  background-color: #68d170;
  flex: auto;
  padding: 1em;
}
header div:nth-child(2) {
  background-color: #ffc2c2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0.5em;
  padding: 0.5em;
  display: inline-block;
}

.main-container {
  padding: 1em;
  text-align: center;
}
