extends ./parts/_layout.pug

block content
    div.homeContainer
        h2 Home
        div.row
            each room in rooms
                div.bg-info.p-2.my-2.col-12.mx-auto.col-sm-10.rounded
                    .h4 Location : #{room.location}
                    p.h5 Features :
                    ul
                        each feature in room.features
                            li #{feature}      
