extends ./parts/_layout.pug

block content
    div.homeContainer
        h1 Home
        div
            p
                a(href='/user/login') Login
            p
                a(href='/user/signup') Sign Up
