extends ./parts/_layout.pug

block content
    h1 Add new Room Detail
    form(action="/room/add", method="post")
        .form-group
            label Location: 
            input(type="text", name="location")
        .form-group
            h3 Features
            .custom-control.custom-checkbox
                input#toilet.custom-control-input(type='checkbox' name='features' value='toilet')
                label.custom-control-label(for='toilet') Toilet
            .custom-control.custom-checkbox
                input#bathroom.custom-control-input(type='checkbox' name='features' value='bathroom')
                label.custom-control-label(for='bathroom') Bathroom
            .custom-control.custom-checkbox
                input#kitchen.custom-control-input(type='checkbox' name='features' value='kitchen')
                label.custom-control-label(for='kitchen') Kitchen
            .custom-control.custom-checkbox
                input#electricity.custom-control-input(type='checkbox' name='features' value='electricity')
                label.custom-control-label(for='electricity') Electricity
        .form-group
            input(type="submit", value="Submit")